body {
    margin: 0;
    padding: 0;
    background:#000;
}

.wrapper {
    width: 100%;
    min-height: 800px;
    position: absolute;
    display: block;
}

.progressbar-wrapper {
    width: 300px;
    height: 60px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.progressbar {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-18deg) rotateY(-28deg);
}

.side {
    width: 100%;
    height: 100%;
    background-color: rgba(254, 254, 254, 0.3);
    top: 0;
    left: 0;
    position: absolute;
}

.bottom {
    box-shadow: 10px 10px 50px 5px rgba(90, 90, 90, 0.7);
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.top {
    transform: translate(0, -100%) rotateX(90deg);
    transform-origin: bottom;
}

.back {
    transform: translateZ(-60px);
}

.left {
    width: 60px;
    transform: rotateY(90deg);
    transform-origin: left;
    background-color: rgba(128, 255, 0, 0.6);
}

.bar {
    height:100%;
    background-color: rgba(128, 255, 0, 0.6);
    box-shadow: 5px 5px 50px 5px rgba(128, 255, 0, 0.3);
	animation: load 5s infinite;
}

@keyframes load {
	0% {
		width: 0%;
	}	
	100% {
		width: 100%;
	}	
}